<a href="https://colab.research.google.com/github/Sonhyungmin/itda_-/blob/main/%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_01_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복하는 알고리즘

In [ ]:
# 실습 1-7
# 1부터 n까지 정수의 합 구하기 1(while문)

n = int(input())

sum = 0
i = 1

while i <= n: # i가 n보다 작거나 같은 동안 반복
  sum += i # sum에 i 를 더함
  i += 1 # i에 1를 더함


print(f'1부터 {n}까지 정수의 합: {sum}')

5
1부터 5까지 정수의 합: 15

## f-string 이란?
f'문자열 {변수} 문자열'의 형식으로 문자열 출력하는 것

중괄호 {}안에 있는 변수 뒤에 콜론(:)을 붙인 후 왼쪽 정렬 (<), 오른쪽 정렬(>), 가운데 정렬(^)의 옵션을 넣어줍니다. 그 후에 자릿수를 알려주는 숫자 를 넣어주면 정렬 옵션을 사용할 수 있습니다.

예문)
```python
# f-string 왼쪽 정렬
s1 = 'left'
result1 = f'|{s1:<10}|'
print(result1)
 
# f-string 가운데 정렬
s2 = 'mid'
result2 = f'|{s2:^10}|'
print(result2)
 
# f-string 오른쪽 정렬
s3 = 'right'
result3 = f'|{s3:>10}|'
print(result3)
```

## 반복구조 
  어떤 조건이 성립하는 동안 반복해서 처리(프로그램 명령문 또는 명령어의 집합)하는 것, 일반적으로 **루프**라고 함
## 사전 판단 구조
  while문을 실행하기 전 반복을 계속할 것인지를 판단하는 구조
  ```python
  while 조건식: 명령문
  ```
  이 구문에서 반복 대상이 되는 **명령문**을 **루프 본문**이라 함

In [ ]:
# 실습 1 - 8
# 1부터 n까지 정수의 합 구하기2(for문)

n = int(input()) #n값 입력받기

sum = 0 # 최초의 합은 0으로 정의

for i in range(1, n + 1): # 1부터 n+1까지 i 반복하기
   sum += i #i값을 1부터 시작하여 n이 될 때까지 1씩 증가시키며 반복

print(f'1부터 정수 {n}까지 의 합은 {sum}')

5
1부터 정수 5까지 의 합은 15

## 가우스의 덧셈으로 정수 합 구하기
1부터 n까지 정수의 합은 수학식 n * (n + 1) // 2로도 구할 수 있다. 
```python
sum = n * (n + 1) // 2
```

## range() 함수로 이터러블 객체 생성하기

```python
range(n) # 0이상 n미만인 수를 차례로 나열하는 수열
range(a, b) # a이상 b 미만인 수를 차례로 나열하는 수열
range(a, b, step) # a이상 b미만인 수를 step 간격으로 나열하는 수열
```
이터러블 객체는  **반복할 수 있는 객체**를 말하며 for~in 문에 사용할 수 있고 파이썬에서 사용하는 대표적인 이터러블 자료형으로 list, str, tuple이 있다.

## 연속하는 정수의 합을 구하기 위해 값 정렬하기
연속하는 정수의 합을 구할 때 시작하는 값이 1이 아닌 정수를 입력받았다면 range()함수에 전달할 시작값과 끝값을 오름차순으로 정렬해야 함

In [ ]:
# 실습 1-9
# a부터 b까지 정수의 합 구하기 (for문)

a = int(input())
b = int(input())

if a > b:
  a, b = b, a  #a와 b의 값을 교환(단일 대입문 사용), a와 b를 오름차순으로 정렬

sum = 0
for i in range(a, b + 1):
  sum += i

print(f'{a}부터 {b}까지 정수의 합은 {sum}.')

8
3
3부터 8까지 정수의 합은 33.

## 두 값 교환하기 1
a와 b를 교환할 떄 단일 대입문 a, b = b, a 

1. 우변의 b, a에 의해 두 값울 압축한 튜플(b, a)생성
2. 대입할 때 튜플(b, a)를 다시 풀어 b, a로 만든 다음 각각 a와 b에 대입

In [ ]:
# 실습 1-10

a = int(input('a:'))
b = int(input('b:'))

if a > b:
  a, b = b, a # a와 b를 오름차순으로 정렬, a와 b의 값을 교환(단일 대입문 사용)

sum = 0
for i in range(a, b + 1):
  if i < b: # i가 b보다 작으면 합을 구하는 과정 출력
    print(f'{i} + ', end='') # 진행중인값: 수 뒤에 +를 출력 ex) '3+ ', '4 + ', '5 + ', '6 + '
  else: #i가b보다 크거나 같으면 최종값 출력을 위해 i=를 출력
    print(f'{i} = ', end='') # 최종값: 수 뒤에 =를 출력 ex) '7 = '
  sum += i

print(sum)

a:5
b:55
5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 + 21 + 22 + 23 + 24 + 25 + 26 + 27 + 28 + 29 + 30 + 31 + 32 + 33 + 34 + 35 + 36 + 37 + 38 + 39 + 40 + 41 + 42 + 43 + 44 + 45 + 46 + 47 + 48 + 49 + 50 + 51 + 52 + 53 + 54 + 55 = 1530

In [ ]:
# 실습 1-11
a = int(input('a:'))
b = int(input('b:'))

if a > b:
  a, b = b, a # a와 b를 오름차순으로 정렬, a와 b의 값을 교환(단일 대입문 사용)

sum = 0
for i in range(a, b):
  print(f'{i} + ', end='')
  sum += i
# 진행중인 값 : for문에서 a부터 b-1까지 값 뒤에 +를 붙여 출력합니다.

print(f'{b} = ', end='')
sum+=b 
# 최종값 : b의 값 뒤에 =를 붙여 출력합니다. 

print(sum)

a:5
b:55
5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 + 21 + 22 + 23 + 24 + 25 + 26 + 27 + 28 + 29 + 30 + 31 + 32 + 33 + 34 + 35 + 36 + 37 + 38 + 39 + 40 + 41 + 42 + 43 + 44 + 45 + 46 + 47 + 48 + 49 + 50 + 51 + 52 + 53 + 54 + 55 = 1530

## 두 값 교환하기2
단일 대입문 외에도 임시용 변수를 이용하여 교환 가능

1. a값을 t에 저장
2. b값을 a에 대입
3. t에 저장한 처음 a값을 b에 대입

In [ ]:
# 실습 1 -12
# +와 -를 번갈아 출력하기1

print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))

for i in range(n):
  if i % 2: #홀수인 경우 -출력
    print('-', end='')
  else:
    print('+', end='') #짝수인 경우 +출력

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?: 12
+-+-+-+-+-+-

In [ ]:
# 실습 1 -12
# +와 -를 번갈아 출력하기(for문 수정) 
# 만약 i를 1부터 n까지 1씩 증가시키고 싶다면 아래와 같이 range() 함수로 전달하는 값과 for 문의 print() 함수 호출 순서를 바꿔야 함
print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))

for i in range(1, n + 1):
  if i % 2: #홀수인 경우 -출력
    print('+', end='')
  else:
    print('-', end='') #짝수인 경우 +출력

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?: 12
+-+-+-+-+-+-

In [ ]:
#실습 1 -13
# +와 -를 번갈아 출력하기2

print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))

for _ in range(n//2):
  print('+-', end='') # +-를 n//2개의 출력
if n % 2:
  print('+', end='') #n인 홀수인 경우만 +출력

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?: 12
+-+-+-+-+-+-

In [ ]:
#실습 1 -14
# *를 n개 출력하되 w개마다 줄바꿈하기1

print('*를 출력')
n = int(input('몇개 출력?'))
w = int(input('몇개마다 줄바꿈?'))

for i in range(n): #n번 반복
  print('*', end='')
  if i % w == w - 1: #n번 판단
    print() #줄바꿈

if n % w: #1번 판단
  print()#줄바꿈

*를 출력
몇개 출력?14
몇개마다 줄바꿈?5
*****
*****
****

In [ ]:
#실습 1 -15
# *를 n개 출력하되 w개마다 줄바꿈하기2

print('*를 출력')
n = int(input('몇개 출력?'))
w = int(input('몇개마다 줄바꿈?'))

for _ in range(n // w): # n // w번 반복
  print('*' * w)

rest = n % w
if rest: #if문 판단 1번
  print('*'*rest)

*를 출력
몇개 출력?14
몇개마다 줄바꿈?5
*****
*****
****

In [ ]:
#실습 1-16
# 1부터 n까지 정수의 합 구하기(n값은 양수만 입력받음)

print('1부터 n까지 정수의 합 구하기')

while True:
  n = int(input('n?'))
  if n > 0:
    break #n이 0보다 커질 때까지 반복

sum = 0
i = 1

for i in range(1, n+1):
  sum += i
  i +=1

print(sum)

1부터 n까지 정수의 합 구하기
n?-6
n?10
55

## 무한루프와 break 문 알아보기
  프로그래머가 의도적으로 while문이 무한 반복되도록 만든 것이 무한루프
```python
while True:
  n = int(input('n?'))
  if n > 0:
    break
```
이 코드에서는 반복문 안에서 break 문을 실행하면 반복문을 종료, 양수를 입력해야만 종료

In [ ]:
# 실습 1 - 17
# 가로, 세로 길이가 정수이고 넓이가 area인 직사각형에서 변의 길이 나열하기

area = int(input('직사각형의 넓이: '))

for i in range(1, area + 1): # 1부터 사각형의 넓이 계산
  if i * i > area: break
  if area % i: continue
  print(f'{i} x {area // i}')

직사각형의 넓이: 32
1 x 32
2 x 16
4 x 8

In [ ]:
#실습 1-18
# 10~99 사이의 난수 n개 생성하기(13이 나오면 중다)

import random

n = int(input('난수 개수: '))

for _ in range(n):
  r = random.randint(10, 99)
  print(r, end=' ')
  if r == 13:
    print('\n프로그램을 중단')
    break

else:
  print('\n 난수 생성 종료')

난수 개수: 5
64 29 10 78 63
 난수 생성 종료

In [ ]:
# 실습 1-19
# 1~12까지 8을 건너뛰고 출력1

for i in range(1, 13):
  if i ==8:
    continue
  print(i, end=' ')

print()

1 2 3 4 5 6 7 9 10 11 12

In [ ]:
# 실습 1-20
# 1~12까지 8을 건너뛰고 출력2

for i in list(range(1, 8)) + list(range(9, 13)):
  print(i, end=' ')
print()

1 2 3 4 5 6 7 9 10 11 12

## 비교 연사자를 연속으로 사용하는 방법과 드모르간의 법칙

# 2자리 양수(10~99) 입력받기

In [23]:
print('2자리 양수를 입력하세요.')

while True:
  no = int(input('값:'))
  if no >= 10 and no <= 99: # no >= 10 and no < =99 와 같음
    break
# 드모르간의 법칙을 사용하면
# if not(no<10 or no>99):

print(f'입력받은 양수는 {no}입니다.')

2자리 양수를 입력하세요.
값:1
값:100
값:54
입력받은 양수는 54입니다.

## 구조적 프로그래밍이란?
입력과 출력으로 이루어지 ㄴ구성 요소를 계층으로 배치하여 프로그램을 구성하는 방법을 구조적 프로그래밍이라고 한다. 구조적 프로그래밍은 **순차, 선택, 반복**이라는 세 종류의 제어 흐름을 사용한다.

In [25]:
# 구구단 곱셈표 출력하기

print('-' * 27)
for i in range(1, 10):
  for j in range(1, 10):
    print(f'{i * j:3}', end='')
  print()

print('-'*27)

---------------------------
  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81
---------------------------

## 난수를 생성하는 random.randint() 함수 알아보기
random.randint(a, b)는 a이상 b이하인 난수를 생성하여(a이상 b이하인 정수 가운데 무작위로 1개를 뽑아)반환
```python
random.randint(a, b)
```

In [26]:
# 실습 1-22
# 왼쪽 아래가 직각인 이등변 삼각형으로 * 출력하기

print('왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.')
n = int(input('짧은 변의 길이를 입력하세요.: '))

for i in range(n): # 행 루프
  for j in range(i+ 1): # 열 루프
    print('*', end='')
  print() # 행 변경

왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.
짧은 변의 길이를 입력하세요.: 5
*
**
***
****
*****

n값이 5인 경우 바깥쪽 for문(행 루프)은 i값을 0~4까지 1씩 증가시킴. 이는 삼각형의 각 향에 대응하는 세로 방향의 반복문이다. 안쪽 for문(열 루프)은 i값을 0부터 i까지 1씩 증가시키면서 출력. 이는 삼각형의 각 열에 대응하는 가로 방향의 반복문

In [ ]:
#오른쪽 아래가 직각인 이등변 삼각형으로 * 출력하기

print('오른쪽 아래가 직각인 이등변 삼각형을 출력')
n = int(input('짧은 변의 길이 입력.: '))

for i in range(n):
  for _ in range(n-i-1): # 공백을 출력, 카운터용 변수로 언더스코오(_) 사용
    print(' ', end='')
  for _ in range(i+1): # * 출력
    print('*', end='')
  print()

## 파이썬의 변수 알아보기
파이썬에서는 데이터, 함수, 클래스, 모듈, 패키지 등을 모두 객체로 취급. 객체는 자료형을 가지며 메모리 공간을 차지한다. 이런 특징 떄문에 **파이썬의 변수는 값을 갖지 않는다**는 특징이 있다. 
  * 변수는 객체를 참조하는 객체에 연결된 이름에 불관
  * 모든 객체는 메모리를 차지하고, 자료형뿐만 아니라 식별 번호 가짐

```python
n = 17
id(17)
140710805205776 # 17의 식별 번호

id(n)
140710805205776 #n의 식별번호(17의 식별번호랑 같음)
```
id()함수는 객체의 식별 번호를 반환헤준다. 주목할 점은 n = 17이 값을 복사하여 대입하지 않는다는 점이다. **정수 리터럴 17의 식별 번호와 n의 식별 번호가 같다**

-리터럴이란 값 자체를 의미, 문자 자체에 의해 값이 주어지는 문자열

In [28]:
# 실습 1C-4
# 함수 내부/외부에서 정의한 변수와 객체의 식별 번호를 출력하기

n = 1
def put_id():
  x = 1
  print(f'id(x) = {id(x)}')

print(f'id(1) = {id(1)}')
print(f'id(n) = {id(n)}')
put_id()

id(1) = 94005616744960
id(n) = 94005616744960
id(x) = 94005616744960

In [29]:
# 실습 1C - 5
# 1부터 100까지 반복하여 출력
for i in range(1, 101):
  print(f'i = {i:3} id(i) = {id(i)}')

i =   1 id(i) = 94005616744960
i =   2 id(i) = 94005616744992
i =   3 id(i) = 94005616745024
i =   4 id(i) = 94005616745056
i =   5 id(i) = 94005616745088
i =   6 id(i) = 94005616745120
i =   7 id(i) = 94005616745152
i =   8 id(i) = 94005616745184
i =   9 id(i) = 94005616745216
i =  10 id(i) = 94005616745248
i =  11 id(i) = 94005616745280
i =  12 id(i) = 94005616745312
i =  13 id(i) = 94005616745344
i =  14 id(i) = 94005616745376
i =  15 id(i) = 94005616745408
i =  16 id(i) = 94005616745440
i =  17 id(i) = 94005616745472
i =  18 id(i) = 94005616745504
i =  19 id(i) = 94005616745536
i =  20 id(i) = 94005616745568
i =  21 id(i) = 94005616745600
i =  22 id(i) = 94005616745632
i =  23 id(i) = 94005616745664
i =  24 id(i) = 94005616745696
i =  25 id(i) = 94005616745728
i =  26 id(i) = 94005616745760
i =  27 id(i) = 94005616745792
i =  28 id(i) = 94005616745824
i =  29 id(i) = 94005616745856
i =  30 id(i) = 94005616745888
i =  31 id(i) = 94005616745920
i =  32 id(i) = 94005616745952
i =  33 id(i) = 94005616745984
i =  34 id(i) = 94005616746016
i =  35 id(i) = 94005616746048
i =  36 id(i) = 94005616746080
i =  37 id(i) = 94005616746112
i =  38 id(i) = 94005616746144
i =  39 id(i) = 94005616746176
i =  40 id(i) = 94005616746208
i =  41 id(i) = 94005616746240
i =  42 id(i) = 94005616746272
i =  43 id(i) = 94005616746304
i =  44 id(i) = 94005616746336
i =  45 id(i) = 94005616746368
i =  46 id(i) = 94005616746400
i =  47 id(i) = 94005616746432
i =  48 id(i) = 94005616746464
i =  49 id(i) = 94005616746496
i =  50 id(i) = 94005616746528
i =  51 id(i) = 94005616746560
i =  52 id(i) = 94005616746592
i =  53 id(i) = 94005616746624
i =  54 id(i) = 94005616746656
i =  55 id(i) = 94005616746688
i =  56 id(i) = 94005616746720
i =  57 id(i) = 94005616746752
i =  58 id(i) = 94005616746784
i =  59 id(i) = 94005616746816
i =  60 id(i) = 94005616746848
i =  61 id(i) = 94005616746880
i =  62 id(i) = 94005616746912
i =  63 id(i) = 94005616746944
i =  64 id(i) = 94005616746976
i =  65 id(i) = 94005616747008
i =  66 id(i) = 94005616747040
i =  67 id(i) = 94005616747072
i =  68 id(i) = 94005616747104
i =  69 id(i) = 94005616747136
i =  70 id(i) = 94005616747168
i =  71 id(i) = 94005616747200
i =  72 id(i) = 94005616747232
i =  73 id(i) = 94005616747264
i =  74 id(i) = 94005616747296
i =  75 id(i) = 94005616747328
i =  76 id(i) = 94005616747360
i =  77 id(i) = 94005616747392
i =  78 id(i) = 94005616747424
i =  79 id(i) = 94005616747456
i =  80 id(i) = 94005616747488
i =  81 id(i) = 94005616747520
i =  82 id(i) = 94005616747552
i =  83 id(i) = 94005616747584
i =  84 id(i) = 94005616747616
i =  85 id(i) = 94005616747648
i =  86 id(i) = 94005616747680
i =  87 id(i) = 94005616747712
i =  88 id(i) = 94005616747744
i =  89 id(i) = 94005616747776
i =  90 id(i) = 94005616747808
i =  91 id(i) = 94005616747840
i =  92 id(i) = 94005616747872
i =  93 id(i) = 94005616747904
i =  94 id(i) = 94005616747936
i =  95 id(i) = 94005616747968
i =  96 id(i) = 94005616748000
i =  97 id(i) = 94005616748032
i =  98 id(i) = 94005616748064
i =  99 id(i) = 94005616748096
i = 100 id(i) = 94005616748128